body {
  background-color: rgb(206, 194, 184);
  font-family: 'Raleway';
}

/* nav bar styling  */
.navbar {
  background-color: rgb(154, 138, 124);
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: rgb(58, 43, 31);
}


/* main content styling  */
.container {
  max-width: 600px;
  margin-bottom: 20%;
  color: rgb(58, 43, 31);
  ;
}

.container h2 {
  margin-bottom: 20px;
  margin-top: 20%;
  font-size: xx-large;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: 500;
}

.form-control::placeholder {
  color: #6c757d;
  font-style: italic;
  font-size: 14px;
}

.form-control:focus {
  border-color:  rgb(217, 116, 61);
  /* Border color when focused */
  box-shadow: 0 0 0 0.2rem rgb(217, 116, 61);
  /* Box shadow when focused */
  background-color: #e9ecef;
  /* Background color when focused */
}

.btn-primary {
  background-color:  rgb(199,98,43);
  border: 3px solid rgb(154,76,33); 
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: rgb(217, 116, 61);
  border-color:  rgb(217, 116, 61);
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgb(217, 116, 61);
}



/* footer styling  */
.portfolio-footer {
  background-color: rgb(58, 43, 31);
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-info,
.portfolio-links,
.social-links {
  flex: 1;
  padding: 0 20px;
}

.portfolio-info h3,
.portfolio-links h3,
.social-links h3 {
  color: #fff;
  margin-bottom: 10px;
}

.portfolio-links ul,
.social-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio-links ul li,
.social-links ul li {
  margin-bottom: 5px;
}

.portfolio-links ul li a,
.social-links ul li a {
  color: #fff;
  text-decoration: none;
}

.portfolio-links ul li a:hover,
.social-links ul li a:hover {
  text-decoration: underline;
}

.contact-info {
  text-align: center;
  margin-top: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info p:first-child {
  margin-top: 0;
}

.contact-info p:last-child {
  margin-bottom: 0;
}